[project]
	description = A generic system to build and distribute packages from sources in an automatic, consistent and reproducible way. Release your software for a wide range of operating systems and hardware architectures.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/M0ses
[access "refs/for/refs/*"]
	read = group user/M0ses
	push = group user/M0ses
	label-Code-Review = -2..+2 group user/M0ses
	label-Verified = -1..+1 group user/M0ses
	rebase = group user/M0ses
	removeReviewer = group user/M0ses
	submit = group user/M0ses
[access "refs/heads/*"]
	read = group user/M0ses
	create = group user/M0ses
	push = +force group user/M0ses
	pushMerge = group user/M0ses
[access "refs/tags/*"]
	push = +force group user/M0ses
	pushTag = group user/M0ses
	pushSignedTag = group user/M0ses
